---
import { Navbar } from './NavBar/NavBar';
import Container from '@/layouts/Container.astro';
---

<header>
  <!-- <Container> -->
  <Navbar client:load />
  <!-- </Container> -->
  <div></div>
</header>
