---
import { Navbar } from './NavBar/NavBar';
import Container from '@/layouts/Container.astro';
import { ThemePicker } from '@/components/ThemePicker/ThemePicker';
---

<header>
  <Container>
    <Navbar client:load />
  </Container>
  <!-- <div>
    <ThemePicker client:only="react" />
  </div> -->
</header>
