---
import { Navbar } from './NavBar/NavBar';
import Container from '@/layouts/Container.astro';
---

<header class="bg-blue-500">
  <Container>
    <Navbar client:load />
  </Container>

  <h1 class="bg-red-600">Tewhrjewhrjwher</h1>
</header>
