---
import { Navbar } from './NavBar/NavBar';
import Container from '@/layouts/Container.astro';
import { ThemePicker } from '@/components/ThemePicker/ThemePicker';
---

<header>
  <Container>
    <Navbar client:load />
  </Container>
  <div>
    <h1>Aqui vai o tema:</h1>
    <ThemePicker client:only="react" />
  </div>
</header>
