---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { DARK_MODE_COOKIE_NAME, HUE_COOKIE_NAME } from '../consts';
import { getThemeData } from '@/lib/themeRuntime';

type Props = {
  title: string;
  description: string;
};

const hue = Astro.cookies.get(HUE_COOKIE_NAME)?.value;
const dark = Astro.cookies.get(DARK_MODE_COOKIE_NAME)?.value === 'yes';

const { className, style } = getThemeData(hue!, dark);

const { title, description } = Astro.props;
---

<html lang="pt-BR" class={className} style={style}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-pageBg h-full min-h-full">
    <Header />
    <main>
      <p class="text-teste">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat consectetur illo, esse cumque distinctio,
        earum perferendis consequatur ipsam quo dolore dolores dicta iure adipisci! Saepe quam ipsum accusamus eaque
        fuga.
      </p>
      <slot />
    </main>
    <Footer />
  </body>
</html>
